.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;   
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
}

.container{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.container .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}

.container .text {
    font-size: 18px;
    color: #E5E7EB;
}

.container img{
    max-width: 500px;
    max-height: auto;
}

.awesome {
    width: 300px;
}
